/* Contenedor compacto */
.form-registro-placa {
  background: #f5f5f5;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  max-width: 850px;
  margin-bottom: 20px;
}

/* Título compacto */
.form-registro-placa h3 {
  font-size: 1rem;
  margin: 0 0 10px 0;
}

/* GRID TOTALMENTE ADAPTABLE */
.grid-placa {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

/* Grupos compactos */
.form-registro-placa .form-group {
  display: flex;
  flex-direction: column;
}

.form-registro-placa label {
  font-size: 0.8rem;
  margin-bottom: 3px;
}

.form-registro-placa input {
  padding: 5px 6px;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-size: 0.85rem;
}

/* Botón */
.btn-placa-registrar {
  margin-top: 12px;
  width: 100%;
  background: #c20000;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-placa-registrar:hover {
  background: #a00000;
}

/* Contenedor general */
.placas-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

/* Sección superior (verificar y registro) */
.top-section {
  background: #ffffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.filtros-container {
  display: flex;
  flex-wrap: wrap; /* para que se acomoden si la pantalla es pequeña */
  align-items:end; /* alineación vertical */
  gap: 10px; /* separación horizontal entre elementos */
  justify-content: flex-start; /* todo pegado a la izquierda */
  margin-bottom: 15px;
  padding-left: 0; /* opcional si quieres que toque la izquierda de la pantalla */
}

.filtros-container label.pagination-label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.filtros-container input[type="text"] {
  padding: 4px 8px;
  font-size: 0.9rem;
  width: 200px;
}

.filtros-container .css-yk16xz-control { 
  min-height: 35px; /* ajusta el tamaño del select de react-select */
}
